<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/addProduct" method="POST">
        Product Name : <input type="text" name="name_product" placeholder="e.g pelurus bulu mata"><br><br>
        Brand : <input type="text" name="brand_product" placeholder="e.g Wadah Kosmetik"><br><br>
        Price You Get : <input type="text" name="retail_price" placeholder="e.g 5000"><br><br>
        Photo Product : <input type="text" name="photo" id=""><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>