<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
    Name :  <input type="text" name="name_user" placeholder="e.g Tono Susilo"><br><br>
    Email : <input type="email" name="email" placeholder="e.g tonosus@gman.com"><br><br>
    Address : <input type="text" name="address" placeholder="e.g jalan kedamaian no 1"><br><br>
    Age :  <input type="number" name="age"><br><br>
    Password : <input type="password" name="password_user" id=""><br><br>
    Gender <br>
    <input type="radio" name="gender" value="male"> male 
    <input type="radio" name="gender" value="female"> female <br><br>
    <input type="submit" value="register">
    </form>
</body>
</html>